# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Логи и отчеты
*.log
bandit-report.*
security-report/

# Папка sqlmap (если она у тебя есть)
sqlmap/